.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-gray);
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 80px;
        cursor: pointer;
    }
}

.active__link {
    cursor:default !important;
    color: var(--color-title) !important;
}

.app__navbar-links {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    li {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 1rem;
        line-height: 24px;
        color: var(--color-text);
            
        margin: 0 .5rem;
        
        a {
            cursor: pointer;

            &:hover {
                color: var(--color-title);
            }
        }
        
    }

}

.app__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 1rem;
        line-height: 24px;
        color: var(--color-text);
            
        margin: 0 .5rem;
        cursor: pointer;

        &:hover {
            color: var(--color-title);
        }
    }

    svg {
        color: var(--color-text);
        font-size: 30px;
        margin: 0 .5rem;
        cursor: pointer;
        transition: 0.5s ease;

        &:hover {
            color: var(--color-title);
        }
    }
}

.app__navbar-smallscreen {
    display: none;

    svg {
        cursor: pointer;
        color: var(--color-text);

        &:hover {
            color: var(--color-title);
        }
    }
}

.app__navbar-smallscreen_sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    transition: 0.5s ease;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2rem 2rem;
    z-index: 5;
    background-color: var(--color-footer);
    border-color: var(--color-button);
    border-style: solid;
    
    border-width: 0 0 0 1px;
   
    svg {
        color: var(--color-text);
        &:hover {
            color: var(--color-title);
        }
    }
}

.app__navbar-smallscreen_links {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 1rem;
        line-height: 24px;
        color: var(--color-text);
            
        margin: 1rem;
        cursor: pointer;
        
        &:hover {
            color: var(--color-title);
        }
    }
}

.app__navbar-smallscreen_sign {
    display: none;

    
    a {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 1rem;
        line-height: 24px;
        color: var(--color-text);
            
        margin: 1rem;
        cursor: pointer;
        
        &:hover {
            color: var(--color-title);
        }
    }
    
    svg {
        color: var(--color-text);
        font-size: 30px;
        margin: 1rem 0;
        cursor: pointer;

        &:hover {
            color: var(--color-title);
        }
    }
}



@media screen and (max-width:1000px) {
    .app__navbar-links {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex;
    }
}

@media screen and (max-width:650px) {
    .app__navbar-sign {
        display: none;
    }

    .app__navbar-smallscreen_sign {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}