tr {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--color-subtext);
}

td {
    &:nth-child(1) {
        min-width: 20px;
        padding: 0 1rem;
        input {
            width: 20px;
            height: 20px;
            accent-color: var(--color-title);
        }
    }

    &:not(:first-child) {
        padding-top:0.5rem;
        padding-bottom:0.5rem;
        padding-right:1rem;       
      }

    &:nth-child(2) {
        width: 100%;
        div {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                width: 120px;
                height: 120px;
                object-fit: cover;
            }

            h2 {
                color: var(--color-text);
                font-size: 1.25rem;
                font-family: Inter;
                font-weight: 700;
                letter-spacing: -0.0625rem; 
            }
        }
    }

    &:nth-child(3) {
        min-width: 120px;
        color: var(--color-text);
        font-size: 1.25rem;
        font-family: Inter;
        font-weight: 400;
        letter-spacing: -0.0625rem;
        text-align: right;
    }

    &:nth-child(4) {
        min-width: 120px;
        text-align: center;
        padding: 0 3rem;

        input {
            height: 50px;
            width: 70px;
            border-radius: 5px;
            border: none;

            text-align: center;
            color: var(--color-dark);
            font-size: 1.5rem;
            font-family: Inter;
            font-weight: 500;
            letter-spacing: -0.0625rem;
        }
    }
    &:nth-child(5) {
        min-width: 120px;
        color: var(--color-text);
        font-size: 1.25rem;
        font-family: Inter;
        font-weight: 500;
        letter-spacing: -0.0625rem;
        text-align: right;
    }

}