.app__templates {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.app__templates-banner {
    width: 100%;
    height: 200px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.app__templates-category {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 2rem 0;
    gap: 15px;

    button {
        background-color: transparent;
        border: 1px solid var(--color-subtext);
        border-radius: 10px;
        padding: 0.5rem 1rem;
        cursor: pointer;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.05em;
        color: #7D7F83;

        &:hover {
            background-color: var(--color-button);
            border-color: transparent;
            color: var(--color-text);
        }

    }
}

.app__templates-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


@media screen and (max-width:1200px) {
.app__templates-list {
    grid-template-columns: repeat(2, 1fr);
}
}