.app__product {
    display: flex;
    flex-direction: column;
}

.app__product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.app__product-detail_images {
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.app__product-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    h1 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
    }

    h2 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.05em;

        color:var(--color-text);
        margin: 1rem 0;

        span {
            font-weight: 500;
            margin-left: 1rem;
            text-decoration:line-through;
            color: var(--color-subtext);
        }

    }

   
    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: var(--color-text);
    }
}

.app__product-quantity {
    display: flex;
    flex-direction: row;
    input {
        margin-right: 1rem;
        width: 100px;
        background-color: var(--color-text);
        color: var(--color-dark);

        font-size: 24px;
        font-weight: 700;
        padding: 0 1rem;
        text-align: center;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
}

.app__product-quantity_change {
    display: flex;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 45px;
        border-color: var(--color-subtext);
        border-width: 1px;
        border-style: solid;
        padding: 0.5rem 1rem;
        cursor: pointer;

        
        &:hover {
            background-color: var(--color-highlight);
            border-color:var(--color-highlight);
            
            svg {
                path {
                    stroke: #fff;;
                    stroke-width: 5px;
                }
            }
        }
        &:active {
            background-color: var(--color-title);
            border-color:var(--color-title);
        }

        &:nth-child(1) {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-right-width: 0.5px;
        }

        &:nth-child(2) {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left-width: 0.5px;
        }

        svg {
            font-size: 27px;
            path {
                stroke: var(--color-subtext);
                stroke-width: 3px;
            }
        }

    }
}

.app__product-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
        min-width: 200px;
        width: 40%;
        margin: 2.5rem 0;
        height: 50px;
        padding: 0;

        svg {
            vertical-align: middle;
        }
        &:nth-child(1) {
            background: none;
            margin-right: 1rem;
            border: 1px solid  var(--color-title);
            color:  var(--color-title);
            &:hover {
                background-color: var(--color-highlight);
                color: var(--color-text);
            }
            &:active {
                background-color: var(--color-title);
            }
        }
        
        &:nth-child(2) {
            background-color: var(--color-button);
            border: 1px solid  var(--color-button);
            &:hover {
                background-color: var(--color-highlight);
            }
            &:active {
                background-color: var(--color-title);
            }
        }
    }
}

.app__product-others {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;

    h2 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-text);
        
        margin: 2rem 0;
    }
}

.app__product-others_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem
}