.card__container {
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    min-width: 330px;
    padding: 1rem;
    border-radius: 10px;

    cursor: pointer;

    &:hover {
        background-color: var(--color-footer);
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.card__image {
    min-width: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card__body {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    h1 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: var(--color-text);
        padding: 1rem 0;
    }

    div {
        display: flex;
        align-items: flex-start;
        

        h2 {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: var(--color-text);
            margin: 0 0.5rem 0 0;

        }
        h3 {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-decoration-line: line-through;
            color: #7D7F83;  
        }
    }   

}

.card__button {
    display: flex;
    justify-self: flex-end;
    width: 100%;

    a {
        width: 100%;

        &:hover {
            background-color: var(--color-title);
        }
    }

}
